.additionally {
  overflow: hidden;
}

.additionally__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: $additionally-title;
  margin: 0;
  margin-bottom: 34px;
  width: auto;
  display: inline-flex;
  background-color: #ffffff;
  padding-right: 22px;
}

.additionally__title::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: $additionally-before-background;
  position: absolute;
  top: 42px;
  right: -20px;
  z-index: -1;
}

.additionally__list {
  @include list-reset;
  padding-bottom: 39px;
}

.additionally__item {
  border-top: 1px solid $additionally-item-border;
  padding-top: 13px;
  padding-bottom: 17px;
}

.additionally__item:last-child {
  border-bottom: 1px solid $additionally-item-border;
}

.additionally__item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $additionally-item-title;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additionally__item-quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additionally__item-quantity {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $additionally-item-quantity;
  margin: 0;
}

.additionally__item-price {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $additionally-item-price;
}

.additionally__item-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $additionally-item-link;
  padding: 10px 0;
  background-color: $additionally-item-link-background;
}

@media (min-width: $width-tablet) {
  .additionally__title {
    color: #111111;
    font-size: 36px;
    font-weight: 400;
    padding-right: 36px;
    padding-left: 39px;
    margin-bottom: 81px;
  }

  .additionally__title::before {
    top: 89px;
    right: 0;
  }

  .additionally__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additionally__item-title {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  .additionally__item {
    padding: 25px 37px 27px 40px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  .additionally__item-quantity {
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .additionally__item-price {
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px;
  }

  .additionally__list {
    padding-bottom: 69px;
  }
}

@media (min-width: $width-desktop) {
  .additionally__item-title {
    margin: 0;
  }

  .additionally__title::before {
    top: 97px;
  }

  .additionally__list {
    width: 935px;
    padding-left: 40px;
    margin-right: 80px;
  }

  .additionally__item {
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 16px 0;
  }

  .additionally__item-quantity-wrapper {
    margin: 0;
    width: 284px;
    margin-right: 39px;
    margin-top: 7px;
  }

  .additionally__item-link {
    padding: 10px 92px;
  }

  .additionally__item-wrapper {
    width: 100%;
  }

  .additionally-wrapper {
    display: flex;
  }
}
