.contacts {
  background-color: $contacts-background;
}

.contacts--grey {
  background-color: $contacts-grey-background;
}

.contacts__info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $contacts-intro;
  text-transform: uppercase;
  margin: 0;
  // min-width: 124px;
  // margin-right: 17px;
  width: 50%;
  padding-right: 20px;
}

.contacts__address {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.43;
  color: $contacts-address;
  margin: 0;
  width: 50%;
}

@media (min-width: $width-tablet) {

  .contacts__intro {
    max-width: 154px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    color: #111111;
    margin: 0;
  }

  .contacts__street {
    margin: 0;
    margin-bottom: 22px;
  }

  .contacts__city {
    margin: 0;
  }

  .contacts__address {
    width: 170px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #444444;
    text-align: right;
  }

  .contacts__info {
    // padding: 61px 41px;
    padding: 61px 41px 58px 41px;
    justify-content: space-between;
  }
}

@media (min-width: $width-desktop) {
.contacts {
  background-color: #ffffff;
  padding: 0;
  width: 570px;
  height: 201px;
  margin-right: auto;
  margin-top: 95px;
  margin-left: 110px;
}
.contacts__intro {
  padding-left: 35px;
  max-width: unset;
  margin-right: 76px;
}
.contacts__address {
  width: auto;
  text-align: left;
  padding-right: 20px;
}
}
