.example {
  background-color: $example-background;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: $example-title;
  margin: 0;
  margin-bottom: 23px;
}

.example__description {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $example-description;
  margin: 0;
  padding-right: 14px;
  margin-bottom: 25px;
}

.example__list {
  @include list-reset;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.example__item {
  border-radius: 3px;
  border: solid 1px $example-border;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.example__item:first-child {
  margin-right: 32px;
}

.example__item-weight {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: $example-item-weight;
  text-transform: uppercase;
  margin: auto;
}

.example__item-description {
  font-family: $additional-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: $example-item-description;
  margin: 0;
  position: absolute;
  bottom: -16px;
  background-color: $example-item-description-background;
  max-width: 82px;
  text-align: center;
}

.example__costs {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $example-costs;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 34px;
}

.example__cats {
  width: 100%;
  min-height: 240px;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}

.example__cat {
  width: 100%;
}

.example__cat-before {
  background-image: url("../img/before-tablet@1x.png");
  min-height: 300px;
  width: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.example__cat-after {
  background-image: url("../img/after-tablet@1x.png");
  min-height: 300px;
  width: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.example__comparison {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  margin: 0 auto;
}

.example__comparison-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $example-comparison-item;
  text-transform: uppercase;
  border: none;
  background: none;
  padding: 0;
}

.example__progress-line {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  margin-left: 21px;
  margin-right: 15px;
}

@media (min-width: $width-tablet) {
  .example {
    background: linear-gradient(to bottom, #ffffff 55.5%, transparent 55.5%), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #111111;
    margin-bottom: 65px;
  }

  .example__description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    margin-bottom: 53px;
  }

  .example__item {
    height: 72px;
    width: 162px;
  }

  .example__item-weight {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.23;
    color: #111111;
  }

  .example__item-description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #444444;
    max-width: 150px;
    bottom: -6px;
    background-color: #ffffff;
    padding: 0 10px;
    white-space: nowrap;
  }

  .example__item:first-child {
    margin-right: 42px;
  }

  .example__info {
    display: flex;
    margin-bottom: 50px;
  }

  .example__costs {
    font-size: 20px;
    font-weight: 400;
    color: #111111;
    margin: 0;
    align-self: flex-start;
    margin-left: auto;
    padding-left: 166px;
    padding-top: 8px;
    text-align: right;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
  }

  .example__cat--mobile {
    display: none;
  }

  .example__comparison {
    width: 569px;
  }

  .example__comparison-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #111111;
    padding: 0;
    position: relative;
  }

  .example__comparison-item::before {
    content: "";
    border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.23);
    width: 100%;
    position: absolute;
    bottom: -6px;
  }

  .example__cat--tablet {
    margin-bottom: -10px;
    margin-left: 14px;
  }

  .example__cat {
    width: 100%;
  }

  .example__cat-before {
    background-image: url("../img/before-tablet@1x.png");
    min-height: 510px;
    width: 50%;
    background-position: 15px 2px;
    background-size: unset;
  }

  .example__cat-after {
    background-image: url("../img/after-tablet@1x.png");
    height: 510px;
    width: 50%;
    background-position: 101% 2px;
    background-size: unset;
    display: flex;
  }

  .example__cats {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 29px;
  }
}

@media (min-width: $width-desktop) {
  .example__description {
    padding-right: 785px;
    margin-bottom: 68px;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__costs {
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  .example__costs span {
    margin-left: 64px;
  }

  .example__info {
    flex-direction: column;
    width: 367px;
  }

  .example__list {
    margin-bottom: 56px;
  }

  .example__cats {
    width: 677px;
    height: 499px;
    margin-left: auto;
    position: absolute;
    top: -50px;
    right: 57px;
  }

  .example__cat-before {
    background-position: -27px 2px;
  }

  .example__cat-after {
    background-position: 104% 0;
  }

  .example__comparison {
    position: absolute;
    bottom: 75px;
    right: 111px;
  }

  .example {
    background: linear-gradient(to bottom, #ffffff 22.7%, #f2f2f2 22.7%), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__item-description {
    background-color: #f2f2f2;
  }
}
