.example {
  background-color: $example-background;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: $example-title;
  margin: 0;
  margin-bottom: 23px;
}

.example__description {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $example-description;
  margin: 0;
  padding-right: 14px;
  margin-bottom: 25px;
}

.example__list {
  @include list-reset;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.example__item {
  border-radius: 3px;
  border: solid 1px $example-border;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:first-child {
    margin-right: 32px;
  }
}

.example__item-weight {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: $example-item-weight;
  text-transform: uppercase;
  margin: auto;
}

.example__item-description {
  font-family: $additional-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: $example-item-description;
  margin: 0;
  position: absolute;
  bottom: -16px;
  background-color: $example-item-description-background;
  max-width: 82px;
  text-align: center;
}

.example__costs {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $example-costs;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 34px;
}

.example__cats {
  width: 100%;
  min-height: 240px;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.example__cat {
  width: 100%;
}

.example__comparison {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__comparison-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $example-comparison-item;
  text-transform: uppercase;
  border: none;
  background: none;
}

.example__progress-line {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  margin-left: 21px;
  margin-right: 15px;
}

// @media (min-width: $width-tablet) {
//   .example__title {
//     font-size: 60px;
//     font-weight: 400;
//     line-height: 1;
//     color: #111111;
//     margin-bottom: 65px;
//   }

//   .example__description {
//     font-family: "Arial", sans-serif;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #444444;
//     margin-bottom: 53px;
//   }

//   .example__item {
//     height: 72px;
//     width: 162px;
//   }

//   .example__item-weight {
//     font-size: 30px;
//     font-weight: 400;
//     line-height: 1.23;
//     color: #111111;
//   }

//   .example__item-description {
//     font-family: "Arial", sans-serif;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1;
//     color: #444444;
//     max-width: 130px;
//     bottom: -6px;
//   }

//   .example__item:first-child {
//     margin-right: 42px;
//   }

//   .example__info {
//     display: flex;
//     margin-bottom: 50px;
//   }

//   .example__costs {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 1;
//     color: #111111;
//     margin-left: auto;
//     margin: 0;
//     align-self: flex-start;
//     margin-left: auto;
//     padding-left: 166px;
//     padding-top: 8px;
//     text-align: right;
//     line-height: 1.4;
//     display: flex;
//   }

//   .example__cat--mobile {
//     display: none;
//   }

//   .example__comparison-item {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 1;
//     color: #111111;
//     padding: 0 22px;
//   }

//   .example__cat--tablet {
//     margin-bottom: -10px;
//   }
// }
