.features__list {
  @include list-reset;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 17px;
}

.features__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item--slim svg {
  position: absolute;
  top: -2px;
  left: 8px;
}

.features__item--pro svg {
  position: absolute;
  top: 10px;
  left: -9px;
}

@media (min-width: $width-tablet) {
.features {
  margin-bottom: 45px;
}

  .features__list {
    padding: 0 30px;
  }

  .features__item--slim span {
    width: 200px;
    height: 200px;
    background-color: $green;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 393px;
  }

  .features__item--slim svg {
    position: absolute;
    top: -12px;
    left: 30px;
    width: 140px;
    height: 194px;
  }

  .features__item--pro span {
    width: 200px;
    height: 200px;
    background-color: $green;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 393px;
  }

  .features__item--pro svg {
    position: absolute;
    top: 43px;
    left: -34px;
    width: 268px;
height: 112px;
  }

  .features__item {
    margin-bottom: 30px;
  }

  .features__item--pro .option__description {
    padding-right: 258px;
  }
}
