.footer {
  background-color: $footer-background;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid $footer-logo-border;
}

.footer__logo svg {
  width: 128px;
  height: 24px;
}

.footer__socials {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0 19px 0;
}

.footer__copyright {
  padding-bottom: 6px;
}

@media (min-width: $width-tablet) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 36px 0;
  }

  .footer__logo {
    padding: 0;
    border: none;
  }

  .footer__socials {
    padding: 0;
    border: none;
  }

  .footer__copyright {
    padding: 0;
  }
}

@media (min-width: $width-desktop) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
  }
}
