.form__bio {
  margin-bottom: 10px;
}

.form__basic {
  margin-bottom: 27px;
}

.form__list.form__list--program {
  padding-top: 20px;
  padding-bottom: 9px;
}

.form__list.form__list--program::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -21px;
  border-bottom: 1px solid $gallery;
}

.form__list.form__list--program::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 7px;
  border-bottom: 1px solid $gallery;
}

.form__field {
  font-size: 16px;
  line-height: 18px;
  color: $black-lighter;
  font-weight: 400;
  font-family: $default-font;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__field input {
  font-size: 16px;
  line-height: 18px;
  color: $black-lightest;
  font-weight: 400;
  font-family: $default-font;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  min-width: 0;
  padding: 10px 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
  box-shadow: none;
}

.form__field input:focus:invalid {
  padding: 9px 14px;
  border: 2px solid $red;
}

.form__field input:hover {
  border-color: $grey-darker;
}

.form__field input:focus {
  padding: 9px 14px;
  border: 2px solid $black-lightest;
}

.form__field input::-ms-clear {
  display: none;
}

.form__field.form__field--name input {
  margin-left: 14px;
}

.form__field.form__field--weight input {
  margin-left: 17px;
}

.form__field.form__field--age input {
  margin-left: 15px;
}

.form__field.form__field--name input::-webkit-input-placeholder {
  line-height: normal;
}

.form__field.form__field--weight input::-webkit-input-placeholder {
  line-height: normal;
}

.form__field.form__field--age input::-webkit-input-placeholder {
  line-height: normal;
}

.form__field.form__field--email input::-webkit-input-placeholder {
  line-height: normal;
}

.form__field.form__field--phone input::-webkit-input-placeholder {
  line-height: normal;
}

.form__field.form__field--email input {
  margin-left: 11px;
  padding-right: 40px;
}

.form__field.form__field--phone input {
  margin-left: 10px;
  padding-right: 40px;
}

.form__field--email,
.form__field--phone {
  position: relative;
}

.form__field--email svg,
.form__field--phone svg {
  position: absolute;
}

.form__field--email input:focus:invalid + svg,
.form__field--phone input:focus:invalid + svg {
  fill: $red-light;
}

.form__field--email input:focus + svg,
.form__field--phone input:focus + svg {
  fill: $green-light;
}

.form__field--email svg {
  top: 16px;
  right: 16px;
  width: 17px;
  height: 13px;
}

.form__field--phone svg {
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
}

.form__list-item {
  position: relative;
  margin-bottom: 11px;
}

.form__title {
  font-size: 24px;
  line-height: 24px;
  color: $black-light;
  font-weight: 400;
  font-family: $default-font;
  max-width: 221px;
  margin-left: -20px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $main-background;
}

.form__title::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 14px;
  border-bottom: 3px solid $green;
  z-index: -1;
}

.form__comment {
  font-size: 16px;
  line-height: 18px;
  color: $black-lightest;
  font-weight: 400;
  font-family: $default-font;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 13px;
  margin-bottom: 13px;
  resize: none;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
}

.form__comment:hover {
  border-color: $grey-darker;
}

.form__comment:focus {
  padding: 12px;
  border: 2px solid $black-lightest;
}

.form__submit {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  font-weight: 400;
  font-family: $default-font;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: $green;
}

.form__submit:hover {
  background-color: $green-dark;
}

.form__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__notice {
  line-height: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 32px;
}

.form__set {
  padding: 10px 0 15px;
  margin: 0;
  border: none;
}

.form__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .form__bio {
    margin-bottom: 52px;
  }

  .form__basic {
    margin-bottom: 75px;
  }

  .form__set {
    padding-top: 10px;
    padding-bottom: 45px;
  }

  .form__set--extra {
    padding-bottom: 14px;
  }

  .form__field {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .form__field input {
    font-size: 20px;
    line-height: 20px;
    height: 52px;
    padding: 15px 20px;
  }

  .form__field input:focus:invalid {
    padding: 14px 19px;
  }

  .form__field input:focus {
    padding: 14px 19px;
  }

  .form__field--name input {
    margin-left: 17px;
  }

  .form__field--weight input {
    margin-left: 20px;
  }

  .form__field--age input {
    margin-left: 17px;
  }

  .form__field--email svg {
    top: 20px;
    right: 21px;
  }

  .form__field--phone svg {
    top: 17px;
    right: 17px;
  }

  .form__field.form__field--email input {
    margin-left: 17px;
    padding-right: 50px;
  }

  .form__field.form__field--phone input {
    margin-left: 14px;
    padding-right: 50px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    max-width: none;
    margin-left: -40px;
    margin-bottom: 66px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__title::before {
    margin-top: 22px;
  }

  .form__comment {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    padding: 10px 17px;
    margin-bottom: 20px;
  }

  .form__comment:focus {
    padding: 9px 16px;
  }

  .form__list--extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
  }

  .form__list--extra .form__list-item {
    width: 287px;
    margin-bottom: 32px;
  }

  .form__submit {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    min-height: 52px;
  }

  .form__notice {
    font-size: 16px;
    width: 283px;
    margin-left: 5px;
  }

  .form__list.form__list--program {
    border: 1px solid rgba(205, 205, 205, 0.5);
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 24px;
    padding-bottom: 11px;
  }

  .form__list.form__list--program::before,
  .form__list.form__list--program::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .form__list--extra .form__list-item {
    width: 20%;
  }

  .form__basic {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 49px;
  }

  .form__bio {
    margin-bottom: 0;
  }

  .form__list--program {
    width: 514px;
  }

  .form__field,
  .form__bio {
    width: 570px;
  }

  .form__submit {
    width: 570px;
    margin-right: 76px;
  }

  .form__notice {
    text-align: left;
    width: 570px;
    margin-left: 0;
  }

  .form__field.form__field--email {
    margin-right: 75px;
  }

  .form__field.form__field--email input {
    margin-left: 21px;
  }

  .form__set {
    padding-bottom: 47px;
  }

  .form__set--extra {
    padding-bottom: 23px;
  }

  .form__comment {
    padding: 10px 19px;
  }

  .form__comment:focus {
    padding: 9px 18px;
  }
}
