.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 289px;
}

.gift span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  margin-bottom: 62px;
}

.gift__text {
  font-family: $additional-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $gift-text;
  margin: 0;
  text-align: center;
  padding: 0 54px 42px 52px;
  width: 280px;
  margin: 0 auto;
}


@media (min-width: $width-tablet) {
  .gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    display: flex;
    align-items: center;
    padding: 0 91px;
    justify-content: space-between;
    background-size: cover;
    margin: 0 30px;
    min-height: 200px;
  }

  .gift span {
    padding-top: 55px;
  }

  .gift__text {
    padding: 0;
    text-align: left;
    margin: 0;
    padding-left: 86px;
  }
}

@media (min-width: $width-desktop) {
  .gift {
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-position: 85% 0;
    width: 245px;
    height: 289px;
    height: 289px;
    padding: 0;
    margin: 0;
    margin-left: 80px;
    flex-direction: column;
  }

  .gift span {
    padding-top: 65px;
  }

  .gift__text {
    padding: 0 50px;
    margin-bottom: 42px;
    text-align: center;
  }
}
