.header {
  width: 100%;
}

.header__top {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $header-border;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header__wrapper {
  padding: 0;
}

@media (min-width: $width-tablet) {
  .header__top {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    padding-left: 30px;
  }

  .menu-button {
    display: none;
  }

  .header__wrapper {
    display: flex;
  }

  .header__navigation-list {
    display: flex;
  }

  .header__navigation {
    padding: 18px 0;
    margin-left: auto;
    padding-right: 30px;
  }
}

@media (min-width: $width-desktop) {
  .header {
    position: absolute;
    top: 0;
  }

  .header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
    margin: 0 auto;
  }

  .header__navigation {
    margin-left: auto;
    padding-right: 0;
  }

  .header__top {
    padding: 0;
  }
}
