.header {
  width: 100%;
}

.header__top {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $header-border;
  position: relative;
}

@media (min-width: $width-tablet) {
  .header__top {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    padding-left: 30px;
  }

  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    // display: block;
  }

  .menu-button {
    display: none;
  }

  .header__wrapper {
    display: flex;
  }

  .header__navigation-list {
    display: flex;
  }

  .header__navigation {
    padding: 18px 0;
    margin-left: auto;
    padding-right: 30px;
  }
}
