.logo:hover {
  opacity: 0.8;
}

.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__tablet {
  display: none;
}

.logo__desktop {
  display: none;
}

@media (min-width: $width-tablet) {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: flex;
  }
}

@media (min-width: $width-desktop) {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: flex;
  }
}
