.main {
  &__more {
    padding-top: 26px;
    padding-bottom: 25px;
  }

  &__gift {
    margin-bottom: 35px;
  }

  &__additionally {
    position: relative;
    padding-top: 28px;
    padding-bottom: 39px;
  }

  &__promo {
    padding-top: 26px;
    margin-bottom: 197px;
  }

  &__option {
    padding: 24px 20px 21px 20px;
    margin: 0 auto;
  }

  &__nutrition {
    margin-bottom: 42px;
  }

  &__example {
    padding-top: 17px;
    padding-bottom: 36px;
  }

  &__map {
    position: relative;
  }

  &__program {
    padding-top: 15px;
  }

  &__goods {
    padding-top: 15px;
  }
}
