.main__more {
  padding-top: 26px;
  padding-bottom: 25px;
}

.main__gift {
  margin-bottom: 35px;
}

.main__additionally {
  position: relative;
  padding-top: 28px;
  padding-bottom: 39px;
}

.main__promo {
  padding-top: 26px;
  margin-bottom: 197px;
}

.main__option {
  padding: 24px 20px 21px 20px;
  margin: 0 auto;
}

.main__nutrition {
  margin-bottom: 42px;
}

.main__example {
  padding-top: 17px;
  padding-bottom: 36px;
}

.main__map {
  position: relative;
}

.main__program {
  padding-top: 15px;
}

.main__goods {
  padding-top: 15px;
}
