.main__more {
  padding-top: 26px;
  padding-bottom: 25px;
}

.main__gift {
  margin-bottom: 35px;
}

.main__additionally {
  position: relative;
  padding-top: 28px;
}

.main__promo {
  padding-top: 27px;
  margin-bottom: 197px;
}

.main__option {
  padding: 24px 20px 21px 20px;
  margin: 0 auto;
}

.main__nutrition {
  margin-bottom: 42px;
}

.main__example {
  padding-top: 17px;
  padding-bottom: 36px;
}

.main__map {
  position: relative;
}

.main__program {
  padding-top: 15px;
  overflow: hidden;
}

.main__goods {
  padding-top: 15px;
}

@media (min-width: $width-tablet) {
  .main__promo {
    padding-top: 31px;
    margin-bottom: 0;
  }

  .main__option {
    padding: 76px 53px 62px 53px;
  }

  .main__example {
    padding-top: 0;
    padding-bottom: 74px;
  }

  .main__goods {
    padding-top: 11px;
  }

  .main__more {
    padding-top: 54px;
  }

  .main__additionally {
    padding-top: 66px;
    padding-left: 28px;
    padding-bottom: 69px;
  }

  .main__gift {
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .main__program {
    padding-top: 11px;
  }
}

@media (min-width: $width-desktop) {
  .main__promo {
    padding-top: 222px;
  }

  .main__nutrition {
    margin-bottom: 24px;
    padding-bottom: 0;
    border: none;
  }

  .main__example {
    padding-top: 0;
    display: flex;
    padding-bottom: 21px;
    flex-direction: column;
    position: relative;
  }

  .main__map {
    position: relative;
    margin-top: -296px;
    z-index: -1;
  }

  .main__goods {
    padding-top: 168px;
  }

  .main__additionally {
    padding-top: 74px;
    padding-left: 0;
    padding-bottom: 18px;
  }

  .main__program {
    padding-top: 168px;
  }
}
