.more {
  padding-top: 26px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
  }
}

.more__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #111111;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9px;
}

.more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #444444;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.more__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 10px 0;
}
