.more {
  border: 1px solid $more-border;
  border-top: none;
}

.more svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 23px;
}

.more .plus-tablet {
  display: none;
}

.more__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $more-title;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9px;
}

.more__text {
  font-family: $additional-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: $more-text;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.more__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $more-link;
  background-color: $more-link-background;
  text-decoration: none;
  padding: 10px 0;
  margin: 0 20px;
}

@media (min-width: $width-tablet) {
  .more .plus-mobile {
    display: none;
  }

  .more {
    border: 1px solid #d9d9d9;
    width: 45.8%;
    height: 431px;
  }

  .more svg {
    margin-bottom: 50px;
  }

  .more__title {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 75px;
    line-height: 1;
    margin-bottom: 22px;
  }

  .more__text {
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 50px;
    margin-bottom: 83px;
  }

  .more__link {
    margin: 0 36px 0 37px;
  }

  .more .plus-tablet {
    display: block;
  }
}

@media (min-width: $width-desktop) {
  .more {
    width: 245px;
  }

  .more__title {
    padding: 0 50px;
  }

  .more__text {
    padding: 0 30px;
  }
}
