.navigation-list {
  @include list-reset;
}

.navigation-list__item {
  border-bottom: 1px solid $navigation-border;
}

.navigation-list__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 22px 23px 23px 23px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
