.navigation-list {
  @include list-reset;
}

.navigation-list__item {
  border-bottom: 1px solid $navigation-border;
}

.navigation-list__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 22px 23px 23px 23px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .navigation-list__item .navigation-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.39;
    color: $black-lighter;
    padding: 24px 0;
    margin-left: 35px;
    position: relative;
  }

  .navigation-list__item {
    border: none;
  }

  .navigation-list__link--active::before {
    content: "";
    width: 100%;
    border-bottom: 2px solid $green;
    position: absolute;
    bottom: 15px;
  }
}

@media (min-width: $width-desktop) {
  .navigation-list__item .navigation-list__link {
    margin-right: 35px;
    margin-left: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .navigation-list__link--active::before {
    border-color: #ffffff;
  }

  .navigation-list__item:last-child .navigation-list__link {
    margin-right: 0;
  }
}
