.program__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: $program-title;
  margin: 0;
  margin-bottom: 25px;
}

.program__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $program-description;
  margin: 0;
  text-transform: uppercase;
  padding-right: 54px;
  margin-bottom: 39px;
}

@media (min-width: $width-tablet) {
  .program__title {
    color: #111111;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 38px;
  }

  .program__description {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 340px 0 40px;
    line-height: 1.4;
    margin-bottom: 67px;
  }
}

@media (min-width: $width-desktop) {
  .program__description {
    padding: 0;
    padding-right: 890px;
  }
}
