.progress-line {
  border-radius: 6px;
  border: solid 1px $grey-darker;
  background-color: $white;
  min-width: 84px;
}

.progress-line__button {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $green;
  border: none;

  &:first-child {
    margin-right: 2px;
  }
}
