.progress-line {
  border-radius: 6px;
  border: solid 1px $progress-line-border;
  background-color: $progress-line-background;
  min-width: 84px;
}

.progress-line__button {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $progress-line-button;
  border: none;

  &:first-child {
    margin-right: 2px;
  }
}
