$width-desktop: 1300px;
$width-tablet: 768px;

$default-font: "Oswald", "Arial", sans-serif;
$additional-font: "Arial", sans-serif;

$white: #ffffff;

$grey: #f2f2f2;
$grey-light: #e6e6e6;
$grey-dark: #d9d9d9;
$grey-darker: #cdcdcd;

$black: #000000;
$black-light: #111111;
$black-lighter: #222222;
$black-lightest: #444444;

$green: #68b738;

$header-border: $grey-light;
$menu-button-background: $white;
$navigation-border: $grey-light;
$promo-text: $white;
$button-background: $green;
$option-background: $grey;
$option-title: $black-light;
$option-before-background: $grey;
$option-description: $black-lightest;
$option-border: $grey-dark;
$option-link: $black-light;
$nutrition-title: $black-light;
$nutrition-text: $black-lightest;
$nutrition-text-background: $green;
$example-background: $grey;
$example-title: $black-light;
$example-description: $black-lightest;
$example-border: $grey-darker;
$example-item-weight: $black-light;
$example-item-description: $black-lightest;
$example-item-description-background: $grey;
$example-costs: $black-light;
$example-comparison-item: $black-light;
$progress-line-border: $grey-darker;
$progress-line-background: $white;
$progress-line-button: $green;
$contacts-background: $white;
$contacts-grey-background: $grey;
$contacts-intro: $black-light;
$contacts-address: $black-lightest;
$footer-background: $grey;
$footer-logo-border: $grey-dark;
$socials-border: $grey-dark;
$copyright-title: $black-lightest;
$goods-title: $black-light;
$goods-border: $grey-dark;
$product-title: $black-light;
$product-property-description: $black-lightest;
$product-link: $white;
$product-link-background: $green;
$more-border: $grey-dark;
$more-title: $black-light;
$more-text: $black-lightest;
$more-link: $black-lightest;
$more-link-background: $grey;
$additionally-title: $black-light;
$additionally-before-background: $green;
$additionally-item-border: $grey-dark;
$additionally-item-title: $black-lighter;
$additionally-item-quantity: $black-lightest;
$additionally-item-price: $black-lightest;
$additionally-item-link: $white;
$additionally-item-link-background: $green;
$gift-text: $white;
$program-title: $black-light;
$program-description: $black-light;
$form-info: $black-lightest;
$form-button: $white;
$form-button-background: $green;
$form-additionally: $black-lighter;
$form-additionally-border: $grey-darker;
$form-additionally-background: $white;
$form-radio-background: $green;
$form-plan-border: $grey-darker;
$form-plan-background: $white;
$form-comments: $black-lightest;
$form-comments-border: $grey-darker;
$form-legend: $black-light;
$form-text: $black-lighter;
$form-input: $black-lightest;
$form-input-border: $grey-darker;
