$default-font: "Oswald", "Arial", sans-serif;
$additional-font: "Arial", sans-serif;

$white: #ffffff;

$grey: #f2f2f2;
$grey-light: #e6e6e6;
$grey-dark: #d9d9d9;
$grey-darker: #cdcdcd;

$black: #000000;
$black-light: #111111;
$black-lighter: #222222;
$black-lightest: #444444;

$green: #68b738;
