$default-font: "Oswald", "Arial", sans-serif;
$additional-font: "Arial", sans-serif;

$main-background: #ffffff;
$additional-background: #f2f2f2;

$white: #ffffff;

$grey: #f2f2f2;
$grey-light: #e6e6e6;
$grey-lighter: #bababa;
$grey-lightest: #eaeaea;
$grey-dark: #d9d9d9;
$grey-darker: #cdcdcd;
$grey-darkest: #656565;

$black: #000000;
$black-light: #111111;
$black-lighter: #222222;
$black-lightest: #444444;

$green-light: #67b737;
$green: #68b738;
$green-dark: #5eaa2f;

$tablet-width: 768px;
$desktop-width: 1300px;

$red-light: #ff8181;
$red: #ff8282;

$gallery-dark: #dcdcdc;
$gallery: #ededed;
$gallery-light: #ebebeb;
